<ng-container *transloco="let t; read: 'confirmation'">
  <h2 class="font-light inform-title">{{ data.title }}?</h2>
  <div class="inform-wrapper">
    <button
      pButton
      pRipple
      color="primary"
      type="button"
      class="p-button-raised p-button-success button-custom-white button-true"
      [mat-dialog-close]="true"
      [label]="t('true')"></button>
    <button
      pButton
      pRipple
      color="primary"
      type="button"
      class="p-button-raised p-button-danger button-custom-white button-false"
      (click)="onCancel()"
      [label]="t('false')"></button>
  </div>
</ng-container>
