.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: white;
  border-bottom: 2px solid rgb(226, 226, 226);
}

.logo-wrap {
  position: relative;
  width: 14rem;
  height: 6rem;
  z-index: 3;
  border-radius: 0 10px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circle {
  width: 4.8rem;
  position: absolute;
  left: 2.5rem;
  backdrop-filter: blur(0);
  background-color: rgba(255, 255, 255, 0.5);
}

.logo-title-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-end;
}

.buttons-wrap {
  border: 1px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 1rem;
  position: relative;
  z-index: 3;
}
