<div class="header-wrap">
  <div class="card-with-blur logo-wrap shadow-3">
    <div class="logo-title-wrap">
      <h2 class="font-light">Plan</h2>
      <h3 class="font-light">plan</h3>
    </div>
    <div class="logo-circle circle-with-blur shadow-2 scale"></div>
  </div>
  <div class="card-with-opacity buttons-wrap shadow-3">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-raised p-button-secondary p-button-text button-custom">
      Login
    </button>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-raised p-button-secondary p-button-text button-custom">
      Sign up
    </button>
    <app-transloco></app-transloco>
  </div>
</div>
