<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <div class="flex flex-column">
    <button
      pButton
      pRipple
      type="button"
      label="Home"
      class="p-button-raised p-button-primary p-button-text button-custom"
      routerLink="/welcome"
      (click)="visibleSidebar1 = false"></button>
    <div
      *ngIf="
        this.authService.getUser() || (this.authService.isUserLogged$ | async)
      "
      class="flex flex-column gap-2">
      <!-- <span *ngIf="this.isBoardsService.boardsPage()" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" />
      </span> -->

      <button
        pButton
        pRipple
        type="button"
        label="Create board"
        class="p-button-raised p-button-primary p-button-text button-custom"
        routerLink="/boards"></button>

      <p class="user-name-auth">
        {{ this.authService.getUser() }}
      </p>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-user-edit"
        class="p-button-rounded p-button-warning"
        routerLink="/auth/update"></button>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-sign-out"
        class="p-button-rounded p-button-warning"
        (click)="this.authService.logoutUser()"
        routerLink="/auth/login"></button>
    </div>

    <button
      *ngIf="(this.authService.isUserLogged$ | async) === false"
      pButton
      pRipple
      type="button"
      label="Login"
      (click)="loginPage(); visibleSidebar1 = false"
      class="p-button-raised p-button-secondary p-button-text button-custom"></button>
    <button
      *ngIf="(this.authService.isUserLogged$ | async) === false"
      pButton
      pRipple
      type="button"
      label="Sign up"
      class="p-button-raised p-button-secondary p-button-text button-custom"
      (click)="authPage(); visibleSidebar1 = false"></button>
  </div>
</p-sidebar>
<div
  class="h-3rem md:h-4rem header-wrap"
  [ngClass]="{ 'sticky-header': inScroll }">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-bars"
    class="flex p-button-raised p-button-secondary p-button-text md:hidden sidebar-button"
    (click)="visibleSidebar1 = true"></button>
  <a routerLink="/welcome" class="link-not-default">
    <div
      class="hidden md:flex logo-wrap card-with-blur shadow-3"
      routerLink="./welcome">
      <div class="logo-title-wrap">
        <h2 class="font-light">Plan</h2>
        <h3 class="font-light">plan</h3>
      </div>
      <div class="logo-circle circle-with-blur shadow-2 scale"></div>
    </div>
  </a>
  <div class="px-5 w-max card-with-opacity buttons-wrap shadow-3">
    <div
      *ngIf="
        this.authService.getUser() || (this.authService.isUserLogged$ | async)
      "
      class="hidden md:flex gap-2">
      <span *ngIf="this.isBoardsService.boardsPage()" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" />
      </span>

      <button
        pButton
        pRipple
        type="button"
        label="Create board"
        class="p-button-raised p-button-primary p-button-text button-custom"
        routerLink="/boards"></button>

      <p class="user-name-auth">
        {{ this.authService.getUser() }}
      </p>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-user-edit"
        class="p-button-rounded p-button-warning"
        routerLink="/auth/update"></button>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-sign-out"
        class="p-button-rounded p-button-warning"
        (click)="this.authService.logoutUser()"
        routerLink="/auth/login"></button>
    </div>

    <button
      *ngIf="(this.authService.isUserLogged$ | async) === false"
      pButton
      pRipple
      type="button"
      label="Login"
      (click)="loginPage()"
      class="hidden md:block p-button-raised p-button-secondary p-button-text button-custom"></button>
    <button
      *ngIf="(this.authService.isUserLogged$ | async) === false"
      pButton
      pRipple
      type="button"
      label="Sign up"
      class="hidden md:block p-button-raised p-button-secondary p-button-text button-custom"
      (click)="authPage()"></button>
    <p-selectButton
      [options]="stateOptions"
      [(ngModel)]="value1"
      optionLabel="label"
      optionValue="value"
      (onOptionClick)="changeLang(value1)"
      class="select-button-custom"></p-selectButton>
  </div>
</div>
