<div class="card-with-blur footer-wrap shadow-3">
  <a href="https://rs.school/angular/">
    <div class="footer-logo"></div>
  </a>
  <div class="github-wrap">
    <div class="flex flex-nowrap align-items-center gap-2">
      <a href="https://github.com/AlexanderKrasovskiy">
        <div class="footer-github"></div>
      </a>
      <p class="text-xs md:text-base">Alexander Krasovskiy</p>
    </div>

    <div class="flex flex-nowrap align-items-center gap-2">
      <a href="https://github.com/ALLaTk">
        <div class="footer-github"></div>
      </a>
      <p class="text-xs md:text-base">Alla Tkachuk</p>
    </div>

    <div class="flex flex-nowrap align-items-center gap-2">
      <a href="https://github.com/Svt1108">
        <div class="footer-github"></div>
      </a>
      <p class="text-xs md:text-base">Svetlana Pozina, 2022</p>
    </div>
  </div>
</div>
