<ng-container *transloco="let t; read: 'main'">
  <h2 class="font-light inform-title">{{ data.heading }}?</h2>
  <div class="fields-wrapper p-inputtext-lg">
    <div class="p-float-label inform-input field">
      <input
        type="text"
        class="inform-input-inside"
        pInputText
        [(ngModel)]="data.title"
        autocomplete="off"
        name="nameInput" />
      <label for="nameInput">{{ t('titleBoard') }}</label>
    </div>
    <div class="p-float-label inform-input field">
      <input
        type="text"
        pInputText
        class="inform-input-inside"
        name="nameInput"
        [(ngModel)]="data.description"
        autocomplete="off" />
      <label for="nameInput">{{ t('descriptionBoard') }}</label>
    </div>
  </div>
  <div class="inform-wrapper">
    <button
      pButton
      pRipple
      color="primary"
      type="button"
      class="p-button-raised p-button-danger button-custom-white button-false"
      (click)="onCancel()"
      [label]="t('false')"></button>
    <button
      pButton
      pRipple
      color="primary"
      type="button"
      class="p-button-raised p-button-success button-custom-white button-true"
      [disabled]="!data.title || !data.description"
      [mat-dialog-close]="data"
      [label]="t('true')"></button>
  </div>
</ng-container>
