<!-- <p-toast
  [breakpoints]="{
    '920px': { width: '100%', right: '0', left: '0' }
  }"></p-toast> -->
<ng-container *transloco="let t; read: 'registration'">
  <div class="overflow-y-auto md:overflow-y-hidden reg-wrap">
    <div class="card-simple reg-card shadow-4">
      <h2 class="font-light reg-title">{{ t('title') }}</h2>

      <form
        [formGroup]="regForm"
        (ngSubmit)="onSubmit()"
        #formDirective="ngForm">
        <div class="fields-wrapper p-inputtext-lg">
          <div class="p-float-label reg-input field">
            <input
              type="text"
              name="nameInput"
              formControlName="nameInput"
              id="nameInput"
              pInputText
              class="reg-input-inside"
              [ngClass]="(regForm.get('nameInput')?.errors?.['required'] && regForm.get('nameInput')?.touched) ? 'error-border' : '' "
              formControlName="nameInput" />
            <label for="nameInput">{{ t('name') }}</label>
            <div
              class="input-error"
              *ngIf="regForm.get('nameInput')?.errors?.['required'] && (regForm.get('nameInput')?.dirty || regForm.get('nameInput')?.touched)">
              {{ t('emptyField') }}
            </div>
          </div>

          <div class="p-float-label reg-input field">
            <input
              type="text"
              formControlName="loginInput"
              id="loginInput"
              pInputText
              class="reg-input-inside"
              [ngClass]="(regForm.get('loginInput')?.errors?.['required'] && regForm.get('loginInput')?.touched) ? 'error-border' : '' "
              formControlName="loginInput" />
            <label for="loginInput">{{ t('login') }}</label>
            <div
              class="input-error"
              *ngIf="regForm.get('loginInput')?.errors?.['required'] && (regForm.get('loginInput')?.dirty || regForm.get('loginInput')?.touched)">
              {{ t('emptyField') }}
            </div>
          </div>

          <span class="p-float-label reg-input mb-3">
            <p-password
              [toggleMask]="true"
              id="passwordInput"
              formControlName="passwordInput"
              pTooltip="{{ t('tooltipPassword') }}">
            </p-password>
            <label for="passwordInput">{{ t('password') }}</label>
            <div
              class="input-error"
              *ngIf="!regForm.get('passwordInput')?.errors?.['required'] && regForm.errors?.['notIdenticalPassword'] && (regForm.get('passwordInput')?.dirty || regForm.get('passwordInput')?.touched) && (regForm.get('twicePasswordInput')?.dirty || regForm.get('twicePasswordInput')?.touched)">
              {{ t('identicalPassword') }}
            </div>
            <div
              class="input-error"
              *ngIf="regForm.get('passwordInput')?.errors?.['required'] && (regForm.get('passwordInput')?.dirty || regForm.get('passwordInput')?.touched) ">
              {{ t('emptyField') }}
            </div>
          </span>

          <span class="p-float-label reg-input">
            <p-password
              [toggleMask]="true"
              id="twicePasswordInput"
              formControlName="twicePasswordInput"
              pTooltip="Your password should contain at least 8 characters, a mixture of both uppercase and lowercase letters, a mixture of letters and numbers, inclusion of at least one special character, e.g., ! @ # ? ]"></p-password>
            <label for="passwordInput">{{ t('repeatPassword') }}</label>
            <div
              class="input-error"
              *ngIf="!regForm.get('twicePasswordInput')?.errors?.['required'] && regForm.errors?.['notIdenticalPassword'] && (regForm.get('passwordInput')?.dirty || regForm.get('passwordInput')?.touched) && (regForm.get('twicePasswordInput')?.dirty || regForm.get('twicePasswordInput')?.touched)">
              {{ t('identicalPassword') }}
            </div>
            <div
              class="input-error"
              *ngIf="regForm.get('twicePasswordInput')?.errors?.['required'] && (regForm.get('twicePasswordInput')?.dirty || regForm.get('twicePasswordInput')?.touched) ">
              {{ t('emptyField') }}
            </div>
          </span>
        </div>

        <div class="reg-login-wrapper">
          <button
            pButton
            pRipple
            color="primary"
            type="submit"
            [disabled]="!regForm.valid"
            class="p-button-raised p-button-secondary button-custom-white"
            label="{{ t('signup') }}"></button>
        </div>
        <div class="reg-wrapper">
          <p>{{ t('registered') }}</p>
          <a routerLink="/auth/login">{{ t('Login') }}</a>
        </div>
      </form>
    </div>
    <div
      class="hidden md:block circle-with-blur reg-big-circle shadow-4 scale"></div>
    <div
      class="hidden md:block circle-with-blur reg-small-circle shadow-4 scale"></div>
  </div>
</ng-container>
