<div class="back-1 grid">
  <div class="back-1-left col-12 padding-2 md:col-8 padding-10">
    <div class="about-app-wrap-fake">
      <div class="card-simple about-app-wrap shadow-4">
        <h2 class="font-light card-title">About application</h2>
        <div class="card-with-opacity about-app shadow-4"></div>
      </div>
    </div>
  </div>

  <div class="back-1-right md:col-4">
    <div class="card-with-blur about-app-big-circle shadow-4"></div>
    <div class="card-with-blur about-app-small-circle shadow-4"></div>
  </div>
</div>

<div class="back-2"></div>
<div class="back-3"></div>
