.login-wrap {
  background-image: url('../../../../assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.login-card {
  padding: 2rem;
  background-image: url('../../../../assets/images/login-leaf.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 30rem;
  width: 95%;
  justify-content: center;
}

.login-big-circle {
  width: 35%;
  position: absolute;
  top: 5%;
  right: -5%;
}

.login-small-circle {
  width: 17%;
  position: absolute;
  bottom: 12%;
  left: 17%;
}

.login-big-circle:after,
.login-small-circle:after {
  content: '';
  padding-top: 100%;
  display: block;
}

.login-title {
  padding-bottom: 2rem;
  text-align: center;
}

.login-input,
.login-input-inside {
  width: 100%;
}

.fields-wrapper .p-component {
  width: 93%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fields-wrapper .p-inputwrapper {
  width: 100%;
  background-color: transparent;
}

.login-input-inside {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.input-error {
  color: red;
  font-size: 0.6rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.error-border {
  border-color: red;
  color: red;
}

.login-wrapper {
  display: flex;
  padding-top: 1.6rem;
  gap: 1rem;
  justify-content: center;
  font-size: 0.9rem;
}
