<ng-container *transloco="let t; read: 'details'">
  <h1 mat-dialog-title>{{ data.heading }}</h1>
  <div mat-dialog-content class="input-fields">
    <h5>{{ t('taskTitle') }}</h5>
    <input type="text" pInputText [(ngModel)]="data.title" required />
    <h5>{{ t('taskDescription') }}</h5>
    <textarea
      rows="4"
      cols="30"
      pInputTextarea
      class="textarea"
      [(ngModel)]="data.description"
      required></textarea>
  </div>
  <div mat-dialog-actions>
    <button
      [disabled]="!data.title || !data.description"
      pButton
      pRipple
      [mat-dialog-close]="data"
      type="button"
      [label]="t('confirm')"
      class="p-button-rounded"></button>
    <button
      pButton
      pRipple
      (click)="onCancel()"
      type="button"
      [label]="t('cancel')"
      class="p-button-rounded p-button-danger"></button>
  </div>
</ng-container>
