<ng-container *transloco="let t; read: 'header'">
  <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <div class="flex flex-column gap-3">
      <p class="user-name-sidebar">
        {{ this.authService.getUserName() }}
      </p>
      <div
        *ngIf="
          this.authService.getUserName() ||
          (this.authService.isUserLogged$ | async)
        "
        class="flex flex-column gap-2">
        <button
          pButton
          pRipple
          type="button"
          label="{{ t('create') }}"
          (click)="this.createBoardMoadal.openCreateBoardModal()"
          routerLink="/boards"
          class="p-button-raised p-button-primary p-button-text button-custom"
          (click)="visibleSidebar1 = false"></button>

        <button
          pButton
          pRipple
          type="button"
          label="{{ t('allBoards') }}"
          class="p-button-raised p-button-secondary p-button-text button-custom"
          routerLink="/boards"
          (click)="visibleSidebar1 = false"></button>

        <button
          pButton
          pRipple
          type="button"
          label="{{ t('edit') }}"
          class="p-button-raised p-button-warning p-button-text button-custom"
          routerLink="/auth/update"
          (click)="visibleSidebar1 = false"></button>

        <button
          pButton
          pRipple
          type="button"
          label="{{ t('exit') }}"
          class="p-button-raised p-button-warning p-button-text button-custom"
          (click)="this.authService.logoutUser(); visibleSidebar1 = false"
          routerLink="/welcome"></button>
      </div>

      <button
        *ngIf="(this.authService.isUserLogged$ | async) === false"
        pButton
        pRipple
        type="button"
        label="{{ t('welcome') }}"
        class="p-button-raised p-button-primary p-button-text button-custom"
        routerLink="/welcome"
        (click)="visibleSidebar1 = false"></button>
      <button
        *ngIf="(this.authService.isUserLogged$ | async) === false"
        pButton
        pRipple
        type="button"
        label="{{ t('login') }}"
        (click)="loginPage(); visibleSidebar1 = false"
        class="p-button-raised p-button-secondary p-button-text button-custom"></button>
      <button
        *ngIf="(this.authService.isUserLogged$ | async) === false"
        pButton
        pRipple
        type="button"
        label="{{ t('signup') }}"
        class="p-button-raised p-button-secondary p-button-text button-custom"
        (click)="authPage(); visibleSidebar1 = false"></button>
    </div>
  </p-sidebar>
  <div
    class="h-3rem lg:h-4rem header-wrap"
    [ngClass]="{ 'sticky-header': inScroll }">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      class="flex p-button-raised p-button-secondary p-button-text lg:hidden sidebar-button"
      (click)="visibleSidebar1 = true"></button>
    <a routerLink="/welcome" class="link-not-default">
      <div
        class="hidden lg:flex logo-wrap card-with-blur shadow-3"
        routerLink="./welcome">
        <div class="logo-title-wrap">
          <h2 class="font-light">Plan</h2>
          <h3 class="font-light">plan</h3>
        </div>
        <div class="logo-circle circle-with-blur shadow-2 scale"></div>
      </div>
    </a>
    <div
      class="px-3 gap-1 lg:px-5 lg:gap-3 card-with-opacity buttons-wrap shadow-3">
      <div
        *ngIf="
          this.authService.getUserName() ||
          (this.authService.isUserLogged$ | async)
        "
        class="flex gap-2 align-items-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            #search
            (keyup.enter)="this.filter.getKeyWord(search.value)"
            (input)="this.filter.getKeyWord(search.value)"
            placeholder="{{ t('search') }}"
            class="w-10rem md:w-12rem lg:w-auto search-input" />
        </span>

        <button
          pButton
          pRipple
          type="button"
          label="{{ t('create') }}"
          (click)="this.createBoardMoadal.openCreateBoardModal()"
          routerLink="/boards"
          class="hidden lg:block p-button-raised p-button-primary p-button-text button-custom"></button>

        <button
          pButton
          pRipple
          type="button"
          label="{{ t('allBoards') }}"
          class="hidden lg:block p-button-raised p-button-secondary p-button-text button-custom"
          routerLink="/boards"></button>

        <p class="hidden lg:block user-name-auth">
          {{ this.authService.getUserName() }}
        </p>

        <button
          pButton
          pRipple
          type="button"
          class="hidden lg:block p-button-rounded p-button-icon-only p-button-warning p-button-outlined"
          [ngStyle]="{
            'background-image':
              'url(assets/images/svg/' +
              this.authService.getUserAvatar() +
              '.svg)',
            'background-position': 'center',
            'background-repeat': 'no-repeat',
            'background-size': 'contain'
          }"
          routerLink="/auth/update"></button>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-sign-out"
          class="hidden lg:block p-button-rounded p-button-warning"
          (click)="this.authService.logoutUser()"
          routerLink="/welcome"></button>
      </div>

      <button
        *ngIf="(this.authService.isUserLogged$ | async) === false"
        pButton
        pRipple
        type="button"
        label="{{ t('login') }}"
        (click)="loginPage()"
        class="hidden lg:block p-button-raised p-button-secondary p-button-text button-custom"></button>
      <button
        *ngIf="(this.authService.isUserLogged$ | async) === false"
        pButton
        pRipple
        type="button"
        label="{{ t('signup') }}"
        class="hidden lg:block p-button-raised p-button-secondary p-button-text button-custom"
        (click)="authPage()"></button>
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="value1"
        optionLabel="label"
        optionValue="value"
        (onOptionClick)="changeLang(value1)"
        class="select-button-custom"></p-selectButton>
    </div>
  </div>
</ng-container>
