.serch {
  background-image: url('../../../../../assets/images/search-keyboard.jpg');
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  .serch__title {
    font-weight: 500;
    padding: 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin-top: 5.5rem;
    text-align: center;
  }
  .table {
    width: 100%;
    border: none;
    // margin-top: 40px;
    // margin-bottom: 40px;
    border-collapse: collapse;
    word-break: break-all;
  }
  .table thead th {
    font-weight: bold;
    text-align: center;
    // border: none;
    border: 1px solid #ddd;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    width: 100px;
    // font-size: 14px;
    // margin-left: 60px;
    // border-top: 1px solid #ddd;
  }
  .table tr th:first-child,
  .table tr td:first-child {
    border-left: none;
    border-top: none;
    // border-left: 1px solid #ddd;
  }
  .table tr th:last-child,
  .table tr td:last-child {
    border-right: none;
    border-top: none;
    // border-right: 1px solid #ddd;
  }
  .table thead tr th:first-child {
    border-radius: 30px 0 0 0;
  }
  .table thead tr th:last-child {
    border-radius: 0 30px 0 0;
  }
  .table tbody td {
    text-align: center;
    // border: none;
    border: 1px solid #ddd;
    padding: 10px 15px;
    // font-size: 14px;
    vertical-align: top;
    cursor: pointer;
  }
  .table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.6);
  }
  .table tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0);
  }
  .table tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
  }
  // .table tbody tr:last-child td:first-child {
  //   border-radius: 0 0 30px 30px;
  // }
}

.search-wrap {
  position: relative;
  display: flex;
}

.search-card {
  background-image: url('../../../../../assets/images/search-green.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 10%;
  top: 3rem;
  display: flex;
  width: 90%;
  margin-bottom: 6rem;
}

.search-card-inside {
  position: relative;
  left: -5%;
  top: -2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 60vh;
}

.search-small-circle-fake:after,
.search-small-circle:after {
  content: '';
  padding-top: 100%;
  display: block;
}

.search-small-circle-fake,
.search-small-circle {
  border-radius: 50%;
  width: 23%;
  position: absolute;
  top: -5%;
  left: -5%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
}

.search-small-circle {
  opacity: 0.8;
  background-image: url('../../../../../assets/images/branch1-05.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.notfound {
  color: rgb(150, 150, 150);
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.no-item:not(:first-child) {
  display: none;
}

.active {
  color: #fbc02d;
}

.arrow {
  font-size: 12px;
  color: rgb(196, 196, 196);
}

.arrow.active {
  color: #fbc02d;
  font-size: 12px;
}
