<section class="serch">
  <h1 class="serch__title card-with-blur scale">Результаты поиска</h1>
  <table class="table">
    <thead>
      <tr>
        <th
          (click)="this.filterService.changeSortValue('order')"
          [class.active]="this.filterService.activeClass === 'order'">
          Номер {{ this.filterService.sortingDirection }}
        </th>
        <th>Название</th>
        <th>Описание</th>
        <th>Пользователь</th>
      </tr>
    </thead>
    <tbody *ngIf="this.search.tasksSubj$ | async as tasks">
      <tr
        [routerLink]="['/boards', task.boardId]"
        *ngFor="
          let task of tasks
            | sorting: 'word':this.headerService.keyWord
            | sorting
              : this.filterService.valueSort
              : this.filterService.flagSortDirection
        ">
        <td>{{ task.order }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.userId }}</td>
      </tr>
    </tbody>
  </table>
</section>
