<section class="serch">
  <h1 class="serch__title card-with-blur scale">Результаты поиска</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Пользователь</th>
      </tr>
    </thead>
    <tbody *ngIf="this.search.tasksSubj$ | async as tasks">
      <tr *ngFor="let task of tasks" [routerLink]="['/boards', task.boardId]">
        <td>{{ task.order }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.userId }}</td>
      </tr>
    </tbody>
  </table>
</section>
