<section class="serch">
  <div class="search-small-circle-fake"></div>
  <div class="search-small-circle shadow-3 scale"></div>
  <h1 class="serch__title card-with-blur scale">Результаты поиска</h1>
  <div class="w-12 md:w-10 search-wrap">
    <div class="card-simple search-card shadow-4">
      <div class="card-with-blur search-card-inside shadow-4">
        <table
          *ngIf="this.search.tasksSubj$ | async as tasks; else notfound"
          class="table text-xs sm:text-sm md:text-base">
          <thead>
            <tr>
              <th
                (click)="this.filterService.changeSortValue('order')"
                [class.active]="this.filterService.activeClass === 'order'">
                Номер {{ this.filterService.sortingDirection }}
              </th>
              <th>Название</th>
              <th>Описание</th>
              <th>Пользователь</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let task of tasks
                  | sorting: 'word':this.headerService.keyWord
                  | sorting
                    : this.filterService.valueSort
                    : this.filterService.flagSortDirection
              "
              [routerLink]="['/boards', task.boardId]">
              <td>{{ task.order }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.userId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #notfound>
  <p class="notfound">Try to search something else</p></ng-template
>
