.board {
  height: 100vh;
  padding-top: 70px;
  background-image: url('../../../../assets/images/boards-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.board_body {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  overflow-x: scroll;
  margin-bottom: 60px;
}

.board_columns {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  @media (max-width: 600px) {
    gap: 0.5rem;
  }
}

.btn_add_column {
  flex-shrink: 0;
  width: 260px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    height: 80px;
    border-style: solid;
  }
  @media (max-width: 600px) {
    width: 220px;
  }
}

/* ___________ DROP STYLES __________________ */

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
