<main class="board">
  <app-board-header></app-board-header>

  <section
    class="board_body"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropCols($event)">
    <article cdkDropListGroup class="board_columns">
      <app-column *ngFor="let column of columns" [column]="column"></app-column>
    </article>

    <button
      pRipple
      class="btn_add_column"
      *transloco="let t; read: 'details'"
      (click)="openDialog()">
      + {{ t('addColumn') }}
    </button>
  </section>
</main>
