.update-wrap {
  background-image: url('../../../../../assets/images/update-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.update-card {
  padding: 2rem;
  background-image: url('../../../../../assets/images/update-leaf-03.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 30rem;
  width: 95%;
  justify-content: center;
  position: relative;
}

.set-avatar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0.2rem solid transparent;
}

.update-big-circle {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: -10%;
}

.update-small-circle {
  width: 23%;
  position: absolute;
  bottom: 10%;
  left: 1%;
}

.update-title {
  padding-bottom: 2rem;
  text-align: center;
}

.update-input,
.update-input-inside {
  width: 100%;
}

.fields-wrapper .p-component {
  width: 93%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fields-wrapper .p-inputwrapper {
  width: 100%;
  background-color: transparent;
}

.update-input-inside {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.update-login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 2.6rem;
}

.input-error {
  color: red;
  font-size: 0.6rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.error-border {
  border-color: red;
  color: red;
}

.update-wrapper {
  display: flex;
  padding-top: 1.6rem;
  gap: 1rem;
  justify-content: center;
  font-size: 0.9rem;
}

.p-button.p-button-secondary.p-button-outlined.button-custom-white,
.p-button.p-button-danger.p-button-outlined.button-custom-white {
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay {
  z-index: 3;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  .inform-card {
    z-index: 4;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: url('../../../../../assets/images/modal-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 25rem;
    width: 95%;
    position: absolute;
    top: 30%;
    .inform-title {
      padding-bottom: 2rem;
      text-align: center;
      padding-bottom: 30px;
    }
    .inform-input,
    .inform-input-inside {
      width: 100%;
    }
    .inform-input-inside {
      margin-bottom: 10px;
      margin-top: 5px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .inform-wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      .button-false,
      .button-true {
        background-color: rgba(255, 255, 255, 0.8);
        min-width: 100px;
      }
      .button-false {
        color: #d42323;
      }
      .button-true {
        color: #038b19;
      }
    }
  }
  .wrap-avatar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    .avatar {
      width: 35px;
      height: 35px;
      border: 2px solid black;
      border-radius: 5px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
