:host {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: 3rem;
  white-space: pre-line;
}

.back-1,
.back-2,
.back-3 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;
}

.back-1 {
  background-image: url('../../assets/images/keyboard.jpg');
}

.back-1.grid,
.back-2.grid {
  margin: 0;
}

.back-2 {
  background-image: url('../../assets/images/crack.jpg');
}

.back-3 {
  background-image: url('../../assets/images/branch-background.jpg');
  display: flex;
  flex-direction: column;
}

.about-app-wrap {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/leaves-04.png');
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 1%;
}

.about-app-wrap-fake {
  width: 100%;
  max-width: 50rem;
  min-height: 35rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 30px;
}

.about-app {
  width: 95%;
  padding: 2rem;
  min-height: 85%;
  font-size: 1.1rem;
}

.card-title {
  color: black;
  padding-bottom: 1rem;
}

.app-guide-wrap {
  max-width: 50rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.app-guide-all {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  min-height: 86%;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.app-guide {
  width: 49%;
  height: fit-content;
  padding: 1rem;
}

@media (max-width: 500px) {
  .app-guide-all {
    gap: 10px;
  }

  .app-guide {
    width: 98%;
  }
}

.app-guide-big-circle-fake,
.app-guide-big-circle {
  border-radius: 50%;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}

.app-guide-big-circle-fake:after,
.app-guide-big-circle:after,
.app-guide-small-circle-fake:after,
.app-guide-small-circle:after {
  content: '';
  padding-top: 100%;
  display: block;
}

.app-guide-big-circle {
  background-image: url('../../assets/images/branch-05.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.app-guide-small-circle-fake,
.app-guide-small-circle {
  border-radius: 50%;
  width: 60%;
  position: absolute;
  top: 55%;
  left: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}

.app-guide-small-circle {
  background-image: url('../../assets/images/branch1-05.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.about-app-big-circle {
  width: 100%;
  position: absolute;
  top: 5%;
  right: -10%;
}

.about-app-small-circle {
  width: 70%;
  position: absolute;
  top: 77%;
  right: -20%;
  z-index: 3;
}

.back-1-left {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}

.back-1-right {
  position: relative;
}

.back-2-right {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}

.back-2-left {
  position: relative;
}

.padding-2 {
  padding-top: 2%;
}

.padding-10 {
  padding-top: 10%;
}

.back-3-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2rem 0;
}

.back-3-bottom {
  display: flex;
  padding-bottom: 5rem;
}

.back-3-right {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-title-wrap {
  padding: 1rem 3rem;
}

.course-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(122, 173, 62, 0.21);
  padding: 2rem;
  width: fit-content;
  position: absolute;
  left: 10%;
}

.course-title {
  width: fit-content;
  max-width: 10rem;
  text-align: center;
  font-style: italic;
}

.team-circle-alla,
.team-circle-sasha,
.team-circle-sveta {
  width: 30%;
  max-width: 19rem;
  min-width: 16rem;
  height: fit-content;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 80px;
}

.team-circle-alla {
  margin-top: 20vh;
}

.team-circle-sasha {
  margin-top: 15vh;
}

.team-circle-sveta {
  margin-top: 10vh;
}

.alexander,
.alla,
.svetlana {
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
}

.alla {
  width: 6rem;
  height: 6rem;
}

.alexander {
  background-image: url(../../assets/images/svg/wizard-1.svg);
}

.alla {
  background-image: url(../../assets/images/svg/witch-1.svg);
}

.svetlana {
  background-image: url(../../assets/images/svg/fairy-4.svg);
}

.avatar-wrap {
  display: flex;
  justify-content: center;
}

.main-github {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: normal;
  .main-github__image {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/images/svg/github-icon-black.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
  }
  .main-github__link {
    width: fit-content;
    height: fit-content;
  }
}

.team-info {
  text-align: justify;
  white-space: pre-line;
}

.lang_team_tags {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 5px;
}
