<main class="main">
  <h1 class="main__title card-with-blur scale">Доски</h1>
  <div class="main__boards grid">
    <div
      class="board card-with-blur col-12 sm:col-1 md:col-2 lg:col-3 scale"
      pTooltip="Создать новую доску"
      tooltipPosition="bottom"
      (click)="createNewBoard()">
      <i class="pi pi-plus"></i>
    </div>
    <div
      class="board card-with-blur col-12 sm:col-1 md:col-2 lg:col-3 scale"
      *ngFor="let board of boards$ | async"
      [pTooltip]="board.description | slice: 0:40"
      tooltipPosition="bottom">
      <div class="board__setting">
        <i class="pi pi-trash" (click)="this.api.delBoard(board.id)"></i>
        <i class="pi pi-cog"></i>
        <i class="pi pi-pencil"></i>
      </div>
      <h3 class="board__title">{{ board.title }}</h3>
    </div>
  </div>
</main>
