<main class="main">
  <h1 class="main__title card-with-blur scale">Доски</h1>
  <section class="main__boards grid">
    <div
      class="board card-with-blur col-12 sm:col-1 md:col-2 lg:col-3 scale"
      pTooltip="Создать новую доску"
      tooltipPosition="bottom"
      (click)="this.mainService.showModalWindowForCreate()">
      <i class="pi pi-plus"></i>
    </div>
    <div
      class="board card-with-blur col-12 sm:col-1 md:col-2 lg:col-3 scale"
      *ngFor="let board of boards$ | async"
      [pTooltip]="board.description | slice: 0:40"
      tooltipPosition="bottom">
      <div class="board__setting">
        <div
          class="setting"
          (click)="
            this.mainService.updateId(board.id);
            this.mainService.showConfirmationModalWindow()
          ">
          <i class="pi pi-trash"></i>
        </div>
        <div class="setting"><i class="pi pi-cog"></i></div>
        <div
          class="setting"
          (click)="
            this.mainService.updateId(board.id);
            this.mainService.showModalWindowForUpdate()
          ">
          <i class="pi pi-pencil"></i>
        </div>
      </div>
      <h3 class="board__title">{{ board.title | slice: 0:20 }}</h3>
    </div>
  </section>
  <section
    class="inform-card card-simple shadow-4"
    *ngIf="this.mainService.isModalWindow">
    <h2 class="font-light inform-title">
      {{ this.mainService.titleModalWindow }}
    </h2>
    <form
      action=""
      [formGroup]="formMain"
      (ngSubmit)="formMain.valid && onSubmit()">
      <div class="fields-wrapper p-inputtext-lg">
        <div class="p-float-label inform-input field">
          <input
            type="text"
            pInputText
            class="inform-input-inside"
            name="nameInput"
            formControlName="title"
            autocomplete="off" />
          <label for="nameInput">Введите название доски</label>
        </div>
        <div class="p-float-label inform-input field">
          <input
            type="text"
            pInputText
            class="inform-input-inside"
            name="nameInput"
            formControlName="description"
            autocomplete="off" />
          <label for="nameInput">Введите описание доски</label>
        </div>
      </div>
      <div class="inform-wrapper">
        <button
          pButton
          pRipple
          color="primary"
          class="p-button-raised p-button-danger button-custom-white button-false"
          (click)="this.mainService.hideModalWindow()"
          label="Нет"></button>
        <button
          pButton
          pRipple
          color="primary"
          type="submit"
          class="p-button-raised p-button-success button-custom-white button-true"
          label="Да"></button>
      </div>
    </form>
  </section>
  <section
    class="inform-card card-simple shadow-4"
    *ngIf="this.mainService.isConfirmationModalWindow">
    <h2 class="font-light inform-title">Удалить доску?</h2>
    <div class="inform-wrapper">
      <button
        pButton
        pRipple
        color="primary"
        class="p-button-raised p-button-danger button-custom-white button-false"
        (click)="this.mainService.hideConfirmationModalWindow()"
        label="Нет"></button>
      <button
        pButton
        pRipple
        color="primary"
        (click)="removeBoard()"
        class="p-button-raised p-button-success button-custom-white button-true"
        label="Да"></button>
    </div>
  </section>
</main>
