.main {
  background-image: url('../../../../assets/images/all-boards-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  .main__title {
    font-weight: 500;
    line-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 70px;
    margin-top: 90px;
    text-align: center;
  }
  .main__boards {
    margin: 20px 60px 100px 60px;
    gap: 20px;
    justify-content: center;
    max-width: 1100px;
    .board,
    .new-board {
      cursor: pointer;
      width: 320px;
      position: relative;
      height: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #FFFFFF;
      font-size: 24px;
      background-image: url('../../../../assets/images/board-6-small.png');
      .board__setting {
        position: absolute;
        top: 5px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        .setting {
          display: flex;
          justify-content: center;
          width: 30px;
          height: 30px;
        }
      }
      .wrap {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        top: 15px;
        padding: 0px 15px 25px 15px;
        .board__title {
          font-weight: 500;
          line-height: 37px;
          text-align: center;
        }
      }
      .pi-plus {
        font-size: 2rem;
      }
    }
  }
  .overlay {
    z-index: 3;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    .inform-card {
      z-index: 4;
      padding: 2rem;
      background-image: url('../../../../assets/images/question.png');
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 25rem;
      width: 95%;
      position: absolute;
      top: 170px;
      .inform-title {
        padding-bottom: 2rem;
        text-align: center;
        padding-bottom: 30px;
      }
      .inform-input,
      .inform-input-inside {
        width: 100%;
      }
      .inform-input-inside {
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
      }
      .inform-wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        .button-false,
        .button-true {
          background-color: rgba(255, 255, 255, 0.8);
          min-width: 100px;
        }
        .button-false {
          color: #D42323;
        }
        .button-true {
          color: #038B19;
        }
      }
    }
    .wrap-background {
      display: flex;
      justify-content: space-around;
      .background {
        width: 35px;
        height: 35px;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .main {
    .main__boards {
      padding: 0 0 10px 0;
      .board,
      .new-board {
        width: 270px;
      }
    }
  }
}
