:host {
  max-height: 100%;
  display: flex;
}

.column {
  width: 17rem;
  cursor: move;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    width: 220px;
    border-radius: 21px;
  }
}

.column_title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 25px;
  height: 65px;
}

.column_drag {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.column_title_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.column_title_edit {
  position: relative;
  .p-inputtext {
    width: 100%;
    background: none;
  }
  .edit_btns {
    position: absolute;
    top: 11px;
    right: 2px;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
}

.column_body {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.1rem 0.5rem;
  overflow-y: auto;
  @media (max-width: 600px) {
    padding-right: 35px;
  }
}

.column_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1rem 1rem;
  @media (max-width: 600px) {
    padding: 8px 7px 3px;
    justify-content: space-between;
  }
}

:host ::ng-deep .column_footer .p-button-label {
  flex-shrink: 0;
  display: flex;
  font-weight: normal;
}

/* ___________ DROP STYLES __________________ */

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}
