/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeflex/primeflex.css';
@import './fonts.scss';
* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  font-family: 'InterFont', sans-serif;
}

.card-simple {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.card-with-blur {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 30px;
}

.card-with-opacity {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.circle-with-blur {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 50%;
}

.circle-with-blur:after {
  content: '';
  padding-top: 100%;
  display: block;
}

.scale {
  transition: 2s;
  &:hover {
    transform: scale(1.1);
  }
}

.p-button-raised.button-custom,
.button-custom,
.button-custom-white {
  border-radius: 20px;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

a.link-not-default:active,
a.link-not-default:hover,
a.link-not-default {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
