.task {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.task_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

:host ::ng-deep .task_btn.p-button {
  height: 10px;
  width: 10px;
  padding: 14px;
}

/* ___________ DROP STYLES __________________ */

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}
